@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Sofia Pro Regular.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro";
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/Sofia Pro Light.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro";
  font-style: bold;
  font-weight: 800;
  font-display: swap;
  src: url("/assets/fonts/Sofia Pro Bold.woff") format("woff");
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  scroll-behavior: smooth;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

#__next {
  @apply min-h-screen bg-gray-0 dark:bg-gray-900;
}

.curved-underline {
    position: relative;
    display: inline-block !important;
}

.curved-underline::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 7px;
    width: 100% !important;
    border: solid 8px yellow;
    border-color: yellow transparent transparent transparent;
    border-radius: 50%;
}
